body {
    font-family: system-ui;
    background: #f06d06;
    color: white;
    text-align: center;
  }
  
  #title{
    font-size: 30px;
  }
  
  #sub-title{
    font-size: 24px;
  }
  
  #form{
    
    width:250px;
    height:500px;
  }
  
  form{
    
    align-content: center;
  
  }
  
  #suggestions{
    
    width:400px;
    height:100px;
    
  }
  